html {
  font-family: Georgia, serif;
  background-color: #495562;
  color: #fff;
}

.img {
  max-height: 500px;
  overflow: hidden;
}
.btn {
 border-color: #97a49b;
 color: #fff;
}

a:hover {
  border-color: #fff;
}

.text {
 background-image: linear-gradient(rgba(73, 85, 98, 0),rgba(73, 85, 98, .9);
}

@media only screen and (min-width: 38em) {



}

@media only screen and (min-width: 60em) {



}
