html {
  font-family: Georgia, serif;
  background-color: #495562;
  color: #fff;
}

.img {
  max-height: 500px;
}
.btn {
 border-color: #97a49b;
}

.text {
 background-color: linear-gradient(0,rgba(73, 85, 98, .9);
}
